// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$blue: #00baff !default;
$cyan: #00acc1 !default;
$deep-purple: #432bc4 !default;
$green: #43a047 !default;
$indigo: #3949ab !default;
$orange: #fb8c00 !default;
$pink: #e91e63 !default;
$purple: #8e24aa !default;
$red: #e53935 !default;
$teal: #00897b !default;
$yellow: #fdd835 !default;
